/* basic reset, universial selector, select each element of the page, apply the decoration to the page */
/* any "::after" and "::before" in the project will NOT get this behavior, only the real elements gets this behavior, to avoid strange behaviors later */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /*each element will be inherit to its parent element, relate to the "body"selector box-sizing*/
}

/* setting the root font-size, so that other font-sizes will change depends on it */
/* 1rem = 10 x parent font-size */

html {
    font-size: 62.5%;
    /* font-size:10px;  10/16=62.5%*/
    /* inital font-size = 16px (100%) */

   
    @include respond(tab-land) {
         font-size: 56.25%; //9px, 9px/16px = 0.5625
    }
    @include respond(tab-port) {
         font-size: 50%; //8px 8px/16px = 0.5
    }
    @include respond(phone) {
         font-size: 37.5%; //6px 6px/16px = 0.75
    }

    //  @include respond(big-desktop) {
    //      font-size: 75%; //12px, 12px/16px = 0.75
    //  }

    //Order matters, if the small screen is prior to the larger screen, then the one list in the last will apply. 
    
}


body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}