.section-about{
    height:95vh;
    background-color:$color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;

}

.section-features{
    padding:18rem 0;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.7), rgba($color-primary-dark,0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    margin-top: -7rem;

    transform:skewY(-6deg);
    &>*{
        transform:skewY(6deg)
    }
    // section-features >* is to the direct child only, section-features * is to select all child
    
}

.section-tours{
    background-color:$color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top:-10rem;
    
}

.section-stories{
    padding: 15rem 0;
    position:relative;
}

.section-book{
    padding:15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
    // color changes at angle of 105degree, white starting from 0% and white and transparent color starting from 50% together to make the linear color change 
    background-image: linear-gradient(105deg,
                                        rgba($color-white, .9) 0%,
                                        rgba($color-white, .9) 50%,
                                        transparent 50%), 
                                        url("../img/nat-10.jpg");

    background-size:100%;  
    // similar to <backgroudn-size:cover>, different is to fit the background in the "X" direction 

    border-radius: 3px;
    box-shadow:0 1.5rem 4rem, rgba($color-black, 0.2);


    @include respond(tab-land){
        background-image: linear-gradient(105deg,
            rgba($color-white, .9) 0%,
            rgba($color-white, .9) 65%,
            transparent 65%),
        url("../img/nat-10.jpg");
        background-size:cover;
    }

    @include respond(tab-port){
    background-image: linear-gradient(to right,
    rgba($color-white, 0.8) 0%,
    rgba($color-white, .8) 100%),
    url("../img/nat-10.jpg");
    background-size:cover;
    }
     @include respond(phone) {
         background-image: linear-gradient(to right,
                 rgba($color-white, 0.8) 0%,
                 rgba($color-white, .8) 100%),
        url("../img/nat-10.jpg");
         background-size: cover;
     }

    &__form{
        width:50%;
        padding: 6rem;

         @include respond(tab-land){
             width:65%;
         }
         @include respond(tab-port) {
             width:100%;  
         }

         @include respond(phone) {
             padding:4rem;
         }
    }

    &__btn-small{
        @include respond(phone){
            padding:0 1rem;
        }
    }
}